<!--<p>footer works!</p>-->
<div class="footer">
  <div class="footer_container">
    <div class="footer_title">
    <span>CONTACT</span>
    </div>

    <div class="footer_infos">
      <div class="footer_contact">
        <span class="footer_contact_span">contact.julien.sicard&#64;gmail.com</span>
      </div>
      <div class="footer_contact">
        <span class="footer_contact_span">+33 7 83 19 92 69</span>
      </div>
    </div>
    <div class="footer_form">

    </div>
    <div class="footer_externalLinks">
      <a href="https://www.linkedin.com/in/julien-sicard-446a81221" target="_blank">
        <img src="assets/images/LinkedinLogo.png" alt="LinkedinLogo">
      </a>
      <a href="https://github.com/JulienSic" target="_blank">
        <img src="assets/images/mark-github.png" alt="GithubLogo">
      </a>
    </div>
  </div>
</div>
