.project-detail {
  background-color: var(--color-Darker2);
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: var(--font-poppins);
  color: var(--color-Light);
  gap: 20px;
}

.project-detail_header {
  width: 95%;
  margin: 0 auto;


  display: flex;
  flex-direction: row;
  flex-wrap: wrap;

  justify-content: center;
  align-items: center;

}

.project-detail_container {

  width: fit-content;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 40px;
  justify-content: space-between;

  background-color: var(--color-Darker);
  margin-left: 20px;
  margin-right: 20px;
  padding: 30px;
  border-width: 1px;
  border-radius: 0.25rem;
  border-color: rgb(96 98 227 / 0.25);


  filter: drop-shadow(0px 0px 20px rgb(33 17 60 / 0.55)) drop-shadow(0 8px 50px rgb(96 98 227 / 0.05));
}

.project-detail_section {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;

  gap: 20px;

}

.project-detail_container-line {
  height: 1px;
  width: 35%;

  background-color: var(--color-Main);
}

.project-detail_title {
  width: fit-content;
  height: 50px;
  margin: 0 auto;
  padding: 20px 0 20px 0;
  display: flex;
  justify-content: center;
  align-items: center;

  font-size: 2rem;
  font-weight: 500;

  border-color: var(--color-Main2);
  border-bottom-width: 2px;
}

.project-detail_timeline {
  width: fit-content;
  font-size: 1.25rem;
  font-weight: 100;
}

.project-detail_section {}

.project-detail_image {
  width: 600px;
}

.project-detail_text-title {
  font-size: 1.5rem;
  text-align: center;
  margin: 10px 0 10px 0;
  padding: 10px 0 10px 0;


  border-color: var(--color-Main2);
  border-bottom-width: 2px;
}

.project-detail_text {
  width: 400px;
  font-size: 1.15rem;
  text-align: center;
}

.project-detail_tags {
  width: 600px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.project-detail_tag-box {
  display: inline-flex;
  justify-content: center;
  align-items: center;

  width: fit-content;

  margin: 0 auto;
  padding-right: 20px ;
  padding-left: 20px ;
  height: 40px;
  background-color: var(--color-Darker);
  border-width: 2px;
  border-radius: 1rem;
  border-color: var(--color-Main2);

  font-family: var(--font-poppins);
  /*text-align: center;
  vertical-align: center;*/
  color: var(--color-Main2);
  font-size: 1rem;
  font-weight: 500;

  filter: drop-shadow(0 20px 13px rgb(96 98 227 / 0.05)) drop-shadow(0 8px 5px rgb(0 0 0 / 0.08));
}
